<!DOCTYPE html>
<html lang="en">

<head>
    <title>ToDo List</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Stylesheets-->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Indie+Flower">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="/css/style.css">
    <!--End Stylesheets-->

    <!--Scripts-->
    <!--<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>-->
    <!--<script type="text/javascript" src="/socket.io/socket.io.js"></script>-->
    <!--<script type="text/javascript" src="/js/main.js"></script>-->
    <!--End Scripts-->
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <div class="stitched">
                    <h1>ToDo List</h1>
                </div>

                <div id="tasks">
                    {{#each tasks}}
                    <div class="task">
                        <p class="v-align"><a href="todolist/delete/{{@index}}" class="task-delete"><i class="fa fa-minus-circle"></i></a><span>{{this}}</span></p>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <form method="POST" action="/todolist/add" id="taskForm" class="v-align">
                    <div class="form-group task-input">
                        <input type="text" class="form-control" name="newTask" placeholder="New task" autofocus>
                    </div>
                    <button type="submit" class="task-add"><i class="fa fa-plus"></i></button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>